.chart1 {
    /* max-width: 50%; */
    /* display:block;
    align-items: center;
    justify-content: center; */
    /* max-width: 500px; */
    min-width: 350px;

    margin-left: 15%;
    margin-right: 15%;

    background-color: transparent;

}
@media screen and (max-width: 768px){
    .chart1 {
        margin-left: 0%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 990px) and (min-width: 768px) {
    .chart1 {
        margin-left: 0%;
        margin-right: 0%;
    }
} 
@media screen and (max-width: 1300px) and (min-width: 990px) {
    .chart1 {
        margin-left: 10%;
        margin-right: 10%;
    }
} 

.chartBtn1{
    background-color: var(--accent);
}
.chartBtn1:hover{
    box-shadow: inset .1px 1px 5px white;
    text-shadow: 1px 1px 4px white;

}

.chartBtn2{
    border-width: 0px;
}
.chartBtn2:hover{
    box-shadow: inset -1px -1px 5px black;
    text-shadow: 1px 1px 4px white;
    color: black;

}
